#container {
  width: 960px;
  margin: 0 auto;
  background: white;
}
#header{
  position: relative;
  margin: 0 15px;

}
#logo {
  display: block;
  max-width: 300px;
  min-height: 105px;
  overflow: hidden;
  padding-top: 10px;
}
#wrapper{
  width: 100%;
  border-top: 5px solid black;
}
#account {
  position: absolute;
  right: 0;
  top: 0;
}
#mini-cart {
  float: left;
}
#account ul{
  list-style: none;
}
#account ul.links li {
  position: relative;
}

#account ul.links li {
  float: left;
  font-size: 12px;
  line-height: 24px;
}
#account ul.links > li:last-child a {
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

#account ul.links > li a {
  background: #F8F8F8;
}

#account ul.links li a {
  display: block;
  padding: 8px;
  color: #202020;
}
#account ul.links li a:hover {
  color: #0AD;
}
#header a {
  text-decoration: none;
}
#account ul.links li a {
  display: block;
  padding: 8px;
  color: #202020;
}
#account a:hover {
  background: #F0F0F0;
}

.taxonomy-root{
  padding-left: 10px;
}
.taxons-list{
  margin: 5px 20px;
}
.taxons-list li{
  margin-top: 10px;
}

ul#products li {
  float: left;
  text-align: center;
  width: 210px;
  height: 240px;
  padding: 0 10px 20px 10px;
}

ul#products li .info{
  display:block;
  margin: 5px 0;
  font-size: 14px;
  font-weight: bold;
}

#product-info h1{
  margin: 0;
  padding: 0;
}

.product-br{
  margin: -10px 15px;
}

.cetegory-landing-empty {
  display: block;
  width: 930px;
  margin: 0px;
}
thead th {
  background: none;
}

.price{white-space: nowrap;}
#product-info{float:left;width: 50%;}
#product-images{width:40%!important;}
ul.thumbnails {
  margin:0;
  padding:0;
  list-style:none;
}

ul.thumbnails li {
  float:left;
  margin-right:5px;
  padding:3px;
  border:1px solid #ffffff;
  min-height:50px;
  width:50px;
  position:relative;
}

ul.thumbnails li img {
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
}

ul.thumbnails li:hover {
  border-color:#cccccc;
}

ul.thumbnails li.selected {
  border-color:#999999;
}