<div id="account">
  <div id="mini-cart">
    <ul class="links">
      <li id="link-to-cart" class="first last"><%= link_to_cart%></li>
    </ul>
    <div class="menu">
      <div class="liner">
        <p class="empty">Your cart is empty.</p>
      </div>
    </div>
  </div>

  <div id="account-links">
    <ul class="links">
      <li class="first"><%= link_to t(:login), login_path %></li>
    </ul>
  </div>
</div>