/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *

 *= require store/spree_core
 *= require store/spree_auth
 *= require store/spree_promo

 *= require_self
 *= require_tree .
*/

a {
color: #7b5435 !important;
}


a:hover {
color: #482911 !important;
}

span.price{
  color: #7b5435 !important;
}

input[type='submit']{
  background-color: #7b5435 !important;
}
button{
  background-color: #7b5435 !important;
}
a.button{
  color: #fff!important;
  background-color: #7b5435 !important;
  border: 1px solid #482911 !important;
}
::selection{
  color: #482911 !important;
}
#cart-detail td, .order-total{
  color: #482911 !important;
}